/*Muuttujat*/
:root {
  --dark-background-color: #333;
  --light-background-color: #fffee0;
  --footer-color: rgb(248, 251, 216);
  --accent-color1: rgb(229, 255, 0);
  --text-color: rgb(54, 59, 6);
}

/*Oletusmuotoilut pois*/
* {
  margin: 0;
  padding: 0;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

/*Alleviivaus pois*/
a {
  text-decoration: none;
}

/*Ylimentäessä väri ja lihavointi*/
a:hover {
  color: #6a7016;
  font-weight: bold;
}

div #container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

header i {
  font-size: 135px;
}

header h1 {
  color: #8d951e;
}

nav {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #8d951e;
  border-top: 1.5px solid #8d951e;
  height: 45px;
}

/*Reunat navigaatiopalkkiin*/
nav div {
  width: 25vw;
}

/*Navigaatiopalkki*/
#navdiv {
  width: 50vw;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  /*Poistaa pilkut*/
  display: inline-block;
}

div #content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
/*------------------------------ETUSIVU------------------------------*/

#ylaaukko{
  height: 80px;
}

#keskitys{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#vasen {
  margin-right: 20px;
  background-color: white;
}

h2 {
margin: 20px;
}


h3 {
  text-align: center;
  margin-top: 50px;
}


#haut {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;

}

#kayttajanData{
  text-align: center;
  line-height: 1.5rem;
  margin: 50px;
  padding: 10px;
}


input {
  padding: 6px;
  width: 310px;
}

button {
  background-color: var(--footer-color);
  width: 80px;
  padding: 5px;
  margin-top: 10px;
  font-size: medium;
  color: white;
  background-color: #6a7016;
}

#errortext {
  margin-top: 30px;
}

#kaupunkisaatIndex{
  display: flex;
  flex-direction: row;
  /*RIVITYS*/
  flex-wrap: wrap; 
  line-height: 1.5rem;
}

article div{
  margin: 0.25rem;
  border: 3px solid #8d951e;
}

#kayttajanKaupunki{}


/*------------------------------PÄIVÄN SÄÄ------------------------------*/

/*Kaupunkilaatikot riviin*/
.kaupunkisaat {
  display: flex;
  flex-direction: row;
  /*RIVITYS*/
  flex-wrap: wrap;
  margin-top: 4vw;
  margin-bottom: 4vw;
  margin-left: 20rem;
  margin-right: 20rem;
}

article {
  /*Jaottelu 5 rivillään*/
  flex: 20%;
}

.cityBox {
  background-color: var(--light-background-color);
  margin: 0.4rem;
  border: 3px solid #8d951e;
}

article h3 {
  /*Kaupunkien nimien muotoilu keskelle*/
  text-align: center;
  margin: 1.5vw;

}

article p {
  /*Kaupunkien nimien muotoilu keskelle*/
  text-align: center;
  margin: 1vw;
  margin-bottom: 2vw;
}

#aukko {
    height:150px;
}

/*Alas kiinitetty footteri*/
footer {
  background-color: var(--footer-color);
  height: 112px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
  line-height: 1.5;

}

.image-wrapper {
  text-align: center;
  border: none;
  margin: 0;
  padding: 0;
 
}

/*------------------------------MEDIAQUERYT------------------------------*/

@media only screen and (max-width: 1600px) {
  article {
    /*Neljä rinnakkain*/
    flex: 25%;
  }
}

@media only screen and (max-width: 1200px) {
  article {
    /*Kolme rinnakkain*/
    flex: 33.33%;
  }

}

@media only screen and (max-width: 992px) {
  #kaupunkisaat {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media only screen and (max-width: 600px) {
  #ylaaukko {
    height: 0px;
  }


  #kaupunkisaat {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  /*Muutetaan naviointipalkin kokoa*/
  nav div {
    width: 12.5vw;
  }

  /*Navigaatiopalkki*/
  #navdiv {
    width: 74vw;
  }

  #keskitys{
    flex-direction: column;
}
  
}
